<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>categoriass</title>
  <link rel="stylesheet" type="text/css" href="/css/producto.css">
  
</head>
<body>
 <header class="header">
    <nav class="navbar">

      <div id='h1'>
       <h1 class="titulo">Categorias <%=modelo.length%></h1> 
     </div>
    
    <a class='botonProductos' href="/logout2">Regresar</a>
    <a href='/categorias' class='botonProductos'>Categorias</a>
    <a href="/usuarios">Usuarios</a> 
    <a href="/compras">Compras</a>
    <a href="/productos">Productos</a>
  </nav>
  </header>
  <div class="table">
    <table>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th><a href="/addCategorias"><img src="/img/add.png" id='add'></a></th>
          </tr>
          <%for(const categorias of modelo){%>
            <tr>
              <td><%=categorias.id%></td>
              <td><%=categorias.nombre%></td>
              <td class="icon">

              <a href="/updateCategoria/<%=categorias.id%>"><img src="/img/update.png" width="30"></a>
              <a href="/eliminarCategoria/<%=categorias.id%>"><img src="/img/delete.png" width="30"></a>
             </td>
            </tr>
           <%}%>
        </table>
       
  </div>
</body>
</html>
