<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Contactos</title>
</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Comentario</th>
            <th>Fecha-Hora</th>
            <th>IP</th>
            <th>Pais</th>
          </tr>
        </thead>
        <tbody>
        <% for (const obtener of tarea) { %>
          <tr>
            <th><%= obtener.nombre%></th>
            <td><%= obtener.email%></td>
            <td><%= obtener.comentario%></td>
            <td><%= obtener.fecha%></td>
            <td><%= obtener.ip%></td>
            <td><%= obtener.pais%></td>
          </tr>
          <% } %>
        </tbody>
      </table>
</html>